{% extends "layout.twig" %}

{% block title %}Users{% endblock %}

{%  block content %}
    <div class="row">
        {% for user in users %}
            <div class="col-sm-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">{{ user.name ?: user.email }}</h5>
                        <dl class="row">
                            <dt class="col-sm-3">Email</dt>
                            <dd class="col-sm-9">{{ user.email}}</dd>

                            <dt class="col-sm-3">Name</dt>
                            <dd class="col-sm-9">{{  user.name }}</dd>

                            <dt class="col-sm-3">Username</dt>
                            <dd class="col-sm-9">{{ user.username }}</dd>

                            <dt class="col-sm-3">Verified</dt>
                            <dd class="col-sm-9">{{ user.is_verified ? 'Yes' : 'No' }}</dd>

                            <dt class="col-sm-3">Created</dt>
                            <dd class="col-sm-9">{{ user.created_at|date('Y-m-d H:i:s')}}</dd>
                        </dl>
                    </div>
                </div>
            </div>
        {%  endfor %}
    </div>
{%  endblock %}